<div class="input-group mb-3" [ngClass]="size" [hidden]="isHide">
    <div class="input-group-prepend" *ngIf="label.length>0">
        <span class="input-group-text">{{label}}</span>
    </div>
    <select class="form-control custom" name="{{id}}" id="{{id}}" [(ngModel)]="data" [disabled]="isDisabled"  >
        <option>PHP</option>
        <option>CSS</option>
        <option>HTML</option>
        <option>CSS 3</option>
        <option>Bootstrap</option>
        <option>JavaScript</option>
      </select>
    <!-- <input type="text" class="form-control custom" name="{{id}}" id="{{id}}" [(ngModel)]="data" 
        placeholder="{{placeholder}}" autocomplete="off" [disabled]="isDisabled" [readonly]="isReadOnly" />
    <button class="btn btn-down-arrow" type="button" (click)="onDownBtnClick()" [disabled]="isDisabled" id="btnDownArrow">
        <i class="glyphicon" [ngClass]="getDownListIcon()"></i>
    </button>  -->

    <div class="input-group-prepend" *ngIf="backLabel.length>0">
        <span class="input-group-text">{{backLabel}}</span>
    </div>
    <div class="input-group-append" *ngIf="endSuccessBtnText.length>0">
        <button [ngClass]="endSuccessBtnType" type="button" (click)="onEndSuccessBtnClick()">{{endSuccessBtnText}}</button> 
    </div>
    <div class="input-group-append" *ngIf="endFailBtnText.length>0">
        <button [ngClass]="endFailBtnType" type="button" (click)="onEndFailBtnClick()">{{endFailBtnText}}</button> 
    </div>
    <div class="input-group-append" *ngIf="endSuccessBtnIcon.length>0">
        <button [ngClass]="endSuccessBtnType" type="button" (click)="onEndSuccessBtnClick()">
            <i [ngClass]="endSuccessBtnIcon"></i>
        </button> 
    </div>
    <div class="input-group-append" *ngIf="endFailBtnIcon.length>0">
        <button [ngClass]="endFailBtnType" type="button" (click)="onEndFailBtnClick()">
            <i [ngClass]="endFailBtnIcon"></i>
        </button> 
    </div>
</div>