input:focus, button:focus{
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    outline: none !important;
}

button{
    outline:none !important
}

button::-moz-focus-inner {
    border: 0 !important;
}

input:read-only{
    background-color: transparent;
}

.btn-down-arrow{
    position: absolute;
    z-index: 3;
    color: black;
}

.down-list{
    position: absolute;
    background-color: #ffffff;
    z-index: 1;
}
