button:focus{
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    outline: none !important;
}

button{
    outline:none !important
}

button::-moz-focus-inner {
    border: 0 !important;
}

.alert-position{
    position: absolute;
    min-width: 45%;
    max-width: 65%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
}
.alert-position-top{
    @extend .alert-position;
    top: 8%;
}
.alert-position-bottom{
    @extend .alert-position;
    bottom: 8%;
}

.alert-position-corner{
    position: absolute;
    min-width: 250px;
    max-width: 250px;
    width: 250px;
}
.alert-position-bottom-right{
    @extend .alert-position-corner;
    right: 3%;
    bottom: 5%;
}
.alert-position-bottom-left{
    @extend .alert-position-corner;
    left: 3%;
    bottom: 5%;
}
.alert-position-top-left{
    @extend .alert-position-corner;
    left: 3%;
    top: 5%;
}
.alert-position-top-right{
    @extend .alert-position-corner;
    right: 3%;
    top: 5%;
}