<div class="tv-container">
    <div class="tv-node" *ngFor="let node of nodes">
        <span [ngClass]="getArrowClass(node)" class="pointer" (click)="onNodeClick(node, $event)"></span>
        <span class="tv-node-text pointer" [ngClass]="{'label label-primary': node.isSelected}" (click)="onNodeClick(node, $event)">{{node.name}}</span>
        <div *ngIf="node.children.length > 0" [hidden]="!node.isExpanded">
            <div class="tv-node tv-chld-div" *ngFor="let chld of node.children">
                <span [ngClass]="getArrowClass(chld)" class="pointer"></span>
                <span class="tv-node-text pointer" [ngClass]="{'label label-primary': chld.isSelected}" (click)="onNodeClick(chld, $event)">{{chld.name}}</span>
                <div *ngIf="chld.children !== undefined && chld.children.length > 0" [hidden]="!chld.isExpanded">
                    <div class="tv-node tv-chld-div" *ngFor="let gChld of chld.children">
                        <span [ngClass]="getArrowClass(gChld)" class="pointer"></span>
                        <span class="tv-node-text pointer" [ngClass]="{'label label-primary': gChld.isSelected}" (click)="onNodeClick(gChld, $event)">{{gChld.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
